<div class="product product-2">
    <figure class="product-media">
        <span class="product-label label-circle label-top">Top</span>
        <a [routerLink]="['/detail',product.id]">
            <img [src]="product.image" alt="Product image" class="product-image">
        </a>

        <div class="product-action-vertical">
            <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"></a>
        </div><!-- End .product-action -->

        <div class="product-action">
            <a (click)="addProductToCart()" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
            <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
        </div><!-- End .product-action -->
    </figure><!-- End .product-media -->

    <div class="product-body">
        <div class="product-cat">
            <a href="#">{{product.category.name}}</a>
        </div><!-- End .product-cat -->
        <h3 class="product-title"><a [routerLink]="['/detail',product.id]">{{product.name}}</a></h3><!-- End .product-title -->
        <div class="product-price">
            <span class="new-price">${{product.price}}</span>
            <!-- <span class="old-price">Was $349.99</span> -->
        </div><!-- End .product-price -->
        <div class="ratings-container">
            <div class="ratings">
                <div class="ratings-val" [style.width]="product.average_rating * 20 + '%'"></div><!-- End .ratings-val -->
            </div><!-- End .ratings -->
            <span class="ratings-text">( {{ product.reviews_count }} Reviews )</span>
        </div><!-- End .rating-container -->
    </div><!-- End .product-body -->
</div><!-- End .product -->