<!--Header starts-->

<header class="header header-intro-clearance header-4">
  <div class="header-top">
    <div class="container">
      <div class="header-left">
        <a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a>
      </div>
      <!-- End .header-left -->

      <div class="header-right">
        <ul class="top-menu">
          <li>
            <a href="#">Links</a>
            <ul>
              <li>
                <div class="header-dropdown">
                  <a href="#">USD</a>
                  <div class="header-menu">
                    <ul>
                      <li><a href="#">EUR</a></li>
                      <li><a href="#">USD</a></li>
                    </ul>
                  </div>
                  <!-- End .header-menu -->
                </div>
              </li>
              <li>
                <div class="header-dropdown">
                  <a href="#">English</a>
                  <div class="header-menu">
                    <ul>
                      <li><a href="#">English</a></li>
                      <li><a href="#">French</a></li>
                      <li><a href="#">Spanish</a></li>
                    </ul>
                  </div>
                  <!-- End .header-menu -->
                </div>
              </li>
              <li>
                <a href="#signin-modal" data-toggle="modal"
                  >Sign in / Sign up</a
                >
              </li>
            </ul>
          </li>
        </ul>
        <!-- End .top-menu -->
      </div>
      <!-- End .header-right -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .header-top -->

  <div class="header-middle">
    <div class="container">
      <div class="header-left">
        <button class="mobile-menu-toggler">
          <span class="sr-only">Toggle mobile menu</span>
          <i class="icon-bars"></i>
        </button>

        <a href="/" class="logo">
          <img
            src="assets/images/logo/logo.svg"
            alt="Niceclickllc logo"
            width="250"
            height="25"
          />
        </a>
      </div>
      <!-- End .header-left -->

      <div class="header-center">
        <div
          class="header-search header-search-extended header-search-visible d-none d-lg-block"
        >
          <a href="#" class="search-toggle" role="button"
            ><i class="icon-search"></i
          ></a>
          <form (ngSubmit)="onSearch()">
            <div class="header-search-wrapper search-wrapper-wide">
              <label for="q" class="sr-only">Search</label>
              <button class="btn btn-primary" type="submit">
                <i class="icon-search"></i>
              </button>
              <input 
                [(ngModel)]="searchQuery" 
                type="search" 
                class="form-control" 
                name="q" 
                id="q" 
                placeholder="Search product ..." 
                required 
              />
            </div>
          </form>
          
        </div>
        <!-- End .header-search -->
      </div>

      <div class="header-right">
        <div class="wishlist">
          <a routerLink="cart" title="cart">
            <div class="icon">
              <i class="icon-shopping-cart"></i>
              <span class="wishlist-count badge">0</span>
            </div>
            <p>Cart</p>
          </a>
          
          <div class="wishlist">
          <a routerLink="wishlist" title="Wishlist">
            <div class="icon">
              <i class="icon-heart-o"></i>
              <span class="wishlist-count badge">0</span>

            </div>
            <p>Wishlist</p>
          </a>
        </div>
        </div>

            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-middle -->
  
    <div class="header-bottom sticky-header">
        <div class="container">
            <div class="header-left">
                <div class="dropdown category-dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Browse Categories">
                        Browse Categories <i class="icon-angle-down"></i>
                    </a>
  
                    <div class="dropdown-menu">
                        <nav class="side-nav">
                            <ul *ngFor="let c of categories" class="menu-vertical sf-arrows">
                                <li><a href="{{c.id}}">{{c.name}}</a></li>
                            </ul><!-- End .menu-vertical -->
                        </nav><!-- End .side-nav -->
                    </div><!-- End .dropdown-menu -->
                </div><!-- End .category-dropdown -->
            </div><!-- End .header-left -->
  
            <div class="header-center">
                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li class="megamenu-container active">
                          <a [routerLink]="['/']">Home</a>
                        </li>
                        <li>
                            <a routerLink="shop">Shop</a>
                        </li>
                        <li>
                            <a routerLink="about">About</a>
                        </li>
                        <li>
                            <a routerLink="contact">Contact</a>
                        </li>
                        <li>
                            <a routerLink="faq">FAQ</a>
                        </li>
                        
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->
            </div><!-- End .header-center -->
  
            <div class="header-right">
                <i class="la la-lightbulb-o"></i><span class="highlight">Enjoy your shopping !!!</span>
        <!-- End .compare-dropdown -->
      </div>
      <!-- End .header-right -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .header-middle -->

  <!-- End .header-bottom -->
</header>
<!-- End .header -->

<!--Header ends-->

<!-- Sign in / Register Modal -->
<div
  class="modal fade"
  id="signin-modal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"><i class="icon-close"></i></span>
        </button>

        <div class="form-box">
          <div class="form-tab">
            <ul class="nav nav-pills nav-fill nav-border-anim" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="signin-tab"
                  data-toggle="tab"
                  href="#signin"
                  role="tab"
                  aria-controls="signin"
                  aria-selected="true"
                  >Sign In</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="register-tab"
                  data-toggle="tab"
                  href="#register"
                  role="tab"
                  aria-controls="register"
                  aria-selected="false"
                  >Register</a
                >
              </li>
            </ul>
            <div class="tab-content" id="tab-content-5">
              <div
                class="tab-pane fade show active"
                id="signin"
                role="tabpanel"
                aria-labelledby="signin-tab"
              >
                <form #signinForm="ngForm" (ngSubmit)="onSignin(signinForm)">
                  <div class="form-group">
                    <label for="singin-email"
                      >Username or email address *</label
                    >
                    <input
                      type="email"
                      class="form-control"
                      id="singin-email"
                      name="email"
                      placeholder="Email"
                      required
                      ngModel
                    />
                  </div>
                  <!-- End .form-group -->

                  <div class="form-group">
                    <label for="singin-password">Password *</label>
                    <input
                      type="password"
                      class="form-control"
                      id="singin-password"
                      name="password"
                      placeholder="Password"
                      required
                      ngModel
                    />
                  </div>
                  <!-- End .form-group -->

                  <div class="form-footer">
                    <button type="submit" class="btn btn-outline-primary-2">
                      <span>LOG IN</span>
                      <i class="icon-long-arrow-right"></i>
                    </button>

                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="signin-remember"
                      />
                      <label class="custom-control-label" for="signin-remember"
                        >Remember Me</label
                      >
                    </div>
                    <!-- End .custom-checkbox -->

                    <a href="#" class="forgot-link">Forgot Your Password?</a>
                  </div>
                  <!-- End .form-footer -->
                </form>
                <div class="form-choice">
                  <p class="text-center">or sign in with</p>
                  <div class="row">
                    <div class="col-sm-6">
                      <a href="#" class="btn btn-login btn-g">
                        <i class="icon-google"></i>
                        Login With Google
                      </a>
                    </div>
                    <!-- End .col-6 -->
                    <div class="col-sm-6">
                      <a href="#" class="btn btn-login btn-f">
                        <i class="icon-facebook-f"></i>
                        Login With Facebook
                      </a>
                    </div>
                    <!-- End .col-6 -->
                  </div>
                  <!-- End .row -->
                </div>
                <!-- End .form-choice -->
              </div>
              <!-- .End .tab-pane -->
              <div
                class="tab-pane fade"
                id="register"
                role="tabpanel"
                aria-labelledby="register-tab"
              >
                <form
                  #registerForm="ngForm"
                  (ngSubmit)="onRegister(registerForm)"
                >
                  <div class="form-group">
                    <label for="name">Full Name *</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      name="name"
                      placeholder="Full Name"
                      required
                      ngModel
                    />
                  </div>
                  <!-- End .form-group -->
                  <div class="form-group">
                    <label for="email">Your email address *</label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      name="email"
                      placeholder="Email"
                      required
                      ngModel
                    />
                  </div>
                  <!-- End .form-group -->

                  <div class="form-group">
                    <label for="Password">Password *</label>
                    <input
                      type="password"
                      class="form-control"
                      id="Password"
                      name="password"
                      placeholder="Password"
                      required
                      ngModel
                    />
                  </div>
                  <!-- End .form-group -->

                  <div class="form-footer">
                    <button type="submit" class="btn btn-outline-primary-2">
                      <span>SIGN UP</span>
                      <i class="icon-long-arrow-right"></i>
                    </button>

                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="register-policy"
                        required
                      />
                      <label
                        class="custom-control-label"
                        for="register-policy"
                        required
                        >I agree to the <a href="#">privacy policy</a> *</label
                      >
                    </div>
                    <!-- End .custom-checkbox -->
                  </div>
                  <!-- End .form-footer -->
                </form>
                <div class="form-choice">
                  <p class="text-center">or sign in with</p>
                  <div class="row">
                    <div class="col-sm-6">
                      <a href="#" class="btn btn-login btn-g">
                        <i class="icon-google"></i>
                        Login With Google
                      </a>
                    </div>
                    <!-- End .col-6 -->
                    <div class="col-sm-6">
                      <a href="#" class="btn btn-login btn-f">
                        <i class="icon-facebook-f"></i>
                        Login With Facebook
                      </a>
                    </div>
                    <!-- End .col-6 -->
                  </div>
                  <!-- End .row -->
                </div>
                <!-- End .form-choice -->
              </div>
              <!-- .End .tab-pane -->
            </div>
            <!-- End .tab-content -->
          </div>
          <!-- End .form-tab -->
        </div>
        <!-- End .form-box -->
      </div>
      <!-- End .modal-body -->
    </div>
    <!-- End .modal-content -->
  </div>
  <!-- End .modal-dialog -->
</div>
<!-- End .modal -->
