<div class="product product-7 text-center">
  <figure class="product-media">
    <a [routerLink]="['/detail', product.id]">
      <img
        [src]="product.image"
        alt="Product image"
        class="product-image"
      />
    </a>

    <div class="product-action-vertical">
      <a href="#" class="btn-product-icon btn-wishlist btn-expandable"
        ><span>add to wishlist</span></a
      >
    </div>
    <!-- End .product-action-vertical -->

    <div class="product-action">
      <a (click)="addProductToCart()" class="btn-product btn-cart"><span>add to cart</span></a>
    </div>
    <!-- End .product-action -->
  </figure>
  <!-- End .product-media -->

  <div class="product-body">
    <div class="product-cat">
      <a href="{{ product.category.id }}">{{ product.category.name }}</a>
    </div>
    <!-- End .product-cat -->
    <h3 class="product-title">
      <a [routerLink]="['/detail', product.id]">{{ product.name }}</a>
    </h3>
    <!-- End .product-title -->
    <div class="product-price">${{ product.price }}</div>
    <!-- End .product-price -->
    <div class="ratings-container">
      <div class="ratings">
        <div class="ratings-val" [style.width]="product.average_rating * 20 + '%'"></div>
        <!-- End .ratings-val -->
      </div>
      <!-- End .ratings -->
      <span class="ratings-text">( {{ product.reviews_count }} Reviews )</span>
    </div>
    <!-- End .rating-container -->

    <!-- End .product-nav -->
  </div>
  <!-- End .product-body -->
</div>
<!-- End .product -->
