<main class="main">
  <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Shop</a></li>
      </ol>
    </div>
    <!-- End .container -->
  </nav>
  <!-- End .breadcrumb-nav -->

  <div class="page-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="toolbox">
            <div class="toolbox-left">
              <div class="toolbox-info">
                Showing <span>{{ nav.to }} of {{ nav.total }}</span> Products
              </div>
              <!-- End .toolbox-info -->
            </div>
            <!-- End .toolbox-left -->

            <!-- End .toolbox-right -->
          </div>
          <!-- End .toolbox -->

          <div class="products mb-3">
            <div class="row justify-content-center">
              <app-product-shop *ngFor="let product of products" [product]="product"
                class="col-6 col-md-4 col-lg-4"></app-product-shop>
            </div>
            <!-- End .row -->
          </div>
          <!-- End .products -->

          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
              <li class="page-item {{
                  nav.prev_page_url === null ? 'disabled' : ''
                }}">
                <a class="page-link page-link-prev" [routerLink]="['/shop']"
                  [queryParams]="getPageParams(nav.pre_next_links[0].url)" aria-label="Previous" tabindex="-1"
                  aria-disabled="true">
                  <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                </a>
              </li>
              <li *ngFor="let n of nav.num_links" class="page-item {{ n.active ? 'active' : '' }}" aria-current="page">
                <a class="page-link" [routerLink]="['/shop']" [queryParams]="getPageParams(n.url)">
                  {{ n.label }}
                </a>
              </li>
              <li class="page-item-total">of {{ nav.last_page }}</li>
              <li class="page-item {{ nav.next_page_url === null ? 'disabled' : '' }}">
                <a class="page-link page-link-next" [routerLink]="['/shop']"
                  [queryParams]="getPageParams(nav.pre_next_links[1].url)" aria-label="Next">
                  Next
                  <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- End .col-lg-9 -->
        <aside class="col-lg-3 order-lg-first">
          <form (ngSubmit)="onFilterSubmit()" #filterForm="ngForm">
            <div class="sidebar sidebar-shop">
              <div class="widget widget-clean">
                <label>Filters:</label>
                <a href="#" (click)="clearFilters()" class="sidebar-filter-clear">Clean All</a>
              </div>
              <!-- End .widget widget-clean -->
          
              <!-- Category Widget -->
              <div class="widget">
                <h3 class="widget-title">Category</h3>
                <!-- End .widget-title -->
          
                <div class="collapse show" id="widget-1">
                  <div class="widget-body">
                    <div class="filter-items">
                      <div *ngFor="let c of categories" class="filter-item">
                        <div class="custom-control custom-checkbox">
                          <input name="category" [value]="c.id" [(ngModel)]="selectedCategories[c.id]" type="checkbox" class="custom-control-input" id="cat-{{ c.id }}" />
                          <label class="custom-control-label" for="cat-{{ c.id }}">{{ c.name }}</label>
                        </div>
                        <!-- End .custom-checkbox -->
                      </div>
                    </div>
                    <!-- End .filter-items -->
                  </div>
                  <!-- End .widget-body -->
                </div>
                <!-- End .collapse -->
              </div>
              <!-- End .widget -->
          
              <!-- Price Widget -->
              <div class="widget">
                <h3 class="widget-title">Price</h3>
                <!-- End .widget-title -->
          
                <div class="collapse show">
                  <div class="widget-body">
                    <label class="form-label">
                      Max Price:
                      <input [(ngModel)]="maxPrice" name="price" type="number" class="form-control" />
                    </label>
                  </div>
                  <!-- End .widget-body -->
                </div>
                <!-- End .collapse -->
              </div>
              <!-- End .widget -->
          
              <button class="btn btn-block btn-primary" type="submit">Filter</button>
            </div>
            <!-- End .sidebar sidebar-shop -->
          </form>
          
        </aside>
        <!-- End .col-lg-3 -->
      </div>
      <!-- End .row -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .page-content -->
</main>
<!-- End .main -->