<div class="container new-arrivals">
  <!-- Start new arrivals heading -->
  <div class="heading heading-flex mb-3">
    <div class="heading-left">
      <h2 style="margin-top: 50px" class="title">New Arrivals</h2>
      <!-- End .title -->
    </div>
  </div>
  <!-- End new arrivals heading -->

  <!-- Show loading spinner -->
  <div *ngIf="isLoading" class="loading-spinner">
    <div class="spinner"></div>
  </div>
  <!-- Start products -->
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let p of products">
      <ng-template carouselSlide>
        <app-new-product
          style="padding-right: 20px"
          [product]="p"
          class="col-6 col-md-3 col-lg-2"
        ></app-new-product>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
  <!-- End products -->
</div>
