<div class="bg-light pt-5 pb-6">
  <div class="container trending-products">
    <!-- Start Heading -->
    <div class="heading heading-flex mb-3">
      <div class="heading-left">
        <h2 class="title">Trending Products</h2>
        <!-- End .title -->
      </div>
    </div>
    <!-- End Heading -->

    <div class="row">
      <!-- Start Banner-->
      <div  class="col-xl-5col d-none d-xl-block">
        <div class="banner">
          <a href="#">
            <img
              src="assets/images/demos/banners/banner-4.jpg"
              alt="banner"
            />
          </a>
        </div>
      </div>
      
      <!-- End Banner -->

      <!-- Start Products -->
      <div class="col-xl-4-5col">
      <div class="tab-content tab-content-carousel just-action-icons-sm">
      <owl-carousel-o [options]="customOptions" *ngIf="products.length > 0">
        <ng-container *ngFor="let p of products">
          <ng-template carouselSlide>
            <app-trending-product [product]="p"></app-trending-product>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
      
      <!-- End Products -->
      </div>
      </div>
      <!-- End .row -->
    </div>
    <!-- End .bg-light pt-5 pb-6 -->
  </div>
</div>
