<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container d-flex align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="home">Home</a></li>
                <li class="breadcrumb-item"><a routerLink="shop">Products</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{product.name}}</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="product-details-top">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-gallery-vertical">
                            <div class="row">
                                <figure class="product-main-image">
                                    <!-- Main image display in the center -->
                                    <img id="product-zoom" [src]="currentImageSrc || product.image" [attr.data-zoom-image]="currentImageSrc || product.image" alt="product image">
                                    <a id="btn-product-gallery" class="btn-product-gallery" (click)="openFullscreen()">
                                        <i class="icon-arrows"></i>
                                    </a>
                                    <app-fullscreen-image #fullscreenImage [imageSrc]="currentImageSrc"></app-fullscreen-image>
                                </figure><!-- End .product-main-image -->
                                
                                <div id="product-zoom-gallery" class="product-image-gallery">
                                    <!-- Main image as the first item in the sidebar -->
                                    <a class="product-gallery-item" 
                                       [class.active]="selectedImage === product.image"
                                       (click)="selectImage(product.image, $event)">
                                        <img [src]="product.image" alt="product main image">
                                    </a>
                                
                                    <!-- Additional images listed below the main image -->
                                    <ng-container *ngFor="let img of product.additionalImages">
                                        <a class="product-gallery-item"
                                           [class.active]="selectedImage === img.images"
                                           (click)="selectImage(img.images, $event)">
                                            <img [src]="img.images" alt="product side image">
                                        </a>
                                    </ng-container>
                                </div><!-- End .product-image-gallery -->
                            </div><!-- End .row -->
                        </div><!-- End .product-gallery -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="product-details">
                            <h1 class="product-title">{{product.name}}</h1><!-- End .product-title -->

                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" [style.width]="product.average_rating * 20 + '%'"></div><!-- End .ratings-val -->
                                </div><!-- End .ratings -->
                                <a class="ratings-text" href="#product-review-link" id="review-link">( {{product.reviews_count}} Reviews )</a>
                            </div><!-- End .rating-container -->

                            <div class="product-price">
                                {{product.price | currency}}
                            </div><!-- End .product-price -->

                            <div class="product-content">
                                <p>{{product.detail}}</p>
                            </div><!-- End .product-content -->

                            <div class="details-filter-row details-row-size">
                                <label>Color:</label>

                                <div  class="product-nav product-nav-thumbs">
                                    <a href="#" class="active">
                                    </a>
                                </div><!-- End .product-nav -->
                            </div><!-- End .details-filter-row -->


                            <div class="details-filter-row details-row-size">
                                <label for="qty">Quantity:</label>
                                <div class="product-details-quantity text-center" style="margin-left: 10px;">
                                    <button style="border-color: transparent; padding: 0px 5px;" >+</button>
                                    <input style="border-color: transparent; text-align: center;width: 40px;" type="input-group" id="qty" value="1" min="1" max="10" step="1" data-decimals="0" required>
                                    <button style="border-color: transparent; padding: 0px 5px;" >-</button>
                                </div><!-- End .product-details-quantity -->
                            </div><!-- End .details-filter-row -->

                            <div class="product-details-action">
                                <a (click)="addProductToCart()" class="btn-product btn-cart"><span>add to cart</span></a>

                                <div class="details-action-wrapper">
                                    <a href="" class="btn-product btn-wishlist" title="Wishlist"><span>Add to Wishlist</span></a>                                </div><!-- End .details-action-wrapper -->
                            </div><!-- End .product-details-action -->

                            <div class="product-details-footer">
                                <div class="product-cat">
                                    <span>Category:</span>
                                    <a href="#">Women</a>,
                                    <a href="#">Dresses</a>,
                                    <a href="#">Yellow</a>
                                </div><!-- End .product-cat -->

                                <div class="social-icons social-icons-sm">
                                    <span class="social-label">Share:</span>
                                    <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                </div>
                            </div><!-- End .product-details-footer -->
                        </div><!-- End .product-details -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .product-details-top -->

            <div class="product-details-tab">
                <ul class="nav nav-pills justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab" role="tab" aria-controls="product-info-tab" aria-selected="false">Additional information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-shipping-link" data-toggle="tab" href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab" aria-selected="false">Shipping & Returns</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab" role="tab" aria-controls="product-review-tab" aria-selected="false">Reviews ({{product.reviews_count}})</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                        <div class="product-desc-content">
                            <h3>Product Information</h3>
                            <div [innerHTML]="descriptionHtml"></div>
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane fade" id="product-info-tab" role="tabpanel" aria-labelledby="product-info-link">
                        <div class="product-desc-content">
                            <h3>Information</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. </p>

                            <h3>Fabric & care</h3>
                            <ul>
                                <li>Faux suede fabric</li>
                                <li>Gold tone metal hoop handles.</li>
                                <li>RI branding</li>
                                <li>Snake print trim interior </li>
                                <li>Adjustable cross body strap</li>
                                <li> Height: 31cm; Width: 32cm; Depth: 12cm; Handle Drop: 61cm</li>
                            </ul>

                            <h3>Size</h3>
                            <p>one size</p>
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel" aria-labelledby="product-shipping-link">
                        <div class="product-desc-content">
                            <h3>Delivery & returns</h3>
                            <p>We deliver to over 100 countries around the world. For full details of the delivery options we offer, please view our <a href="#">Delivery information</a><br>
                            We hope you’ll love every purchase, but if you ever need to return an item you can do so within a month of receipt. For full details of how to make a return, please view our <a href="#">Returns information</a></p>
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane fade active" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
                        <div class="reviews">
                            <h3>Product Reviews</h3>
                            <div *ngFor="let review of product.reviews" class="review">
                                <div class="row no-gutters">
                                    <div class="col-auto">
                                        <h4><a href="#">{{review.user}}</a></h4>
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" [style.width]="review.rating * 20 + '%'"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                        </div><!-- End .rating-container -->
                                        <span class="review-date">{{ getRelativeTime(review.created_at) }}</span>
                                    </div><!-- End .col -->
                                    <div class="col">
                                        <h4>{{ review.title }}</h4>

                                        <div class="review-content">
                                            <p>{{ review.comment }}</p>
                                        </div><!-- End .review-content -->

                                        <div class="review-action">
                                            <a href="#"><i class="icon-thumbs-up"></i>Helpful (2)</a>
                                            <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                        </div><!-- End .review-action -->
                                    </div><!-- End .col-auto -->
                                </div><!-- End .row -->
                            </div><!-- End .review -->
                        </div><!-- End .reviews -->
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .product-details-tab -->

            <h2 class="title text-center mb-4">You May Also Like</h2><!-- End .title text-center -->

            <div class="row">
                <!--start of new products-->
                <app-new-product 
                *ngFor="let p of products" 
                [product]="p" 
                class="col-6 col-md-3 col-lg-2">
                </app-new-product>
                <!--End  of new products-->
            </div><!-- End .owl-carousel -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->