<aside>
    <div class="summary summary-cart">
        <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

        <table class="table table-summary">
            <tbody>
                <tr class="summary-subtotal">
                    <td>Subtotal:</td>
                    <td>{{subTotal | currency}}</td>
                </tr><!-- End .summary-subtotal -->
                <tr class="summary-shipping">
                    <td>Shipping:</td>
                    <td>{{shipping | currency}}</td>
                </tr>
                <tr class="summary-total">
                    <td>Total:</td>
                    <td>{{total | currency}}</td>
                </tr><!-- End .summary-total -->
            </tbody>
        </table><!-- End .table table-summary -->

        <a href="checkout.html" class="btn btn-block btn-outline-dark-2 disabled" >PROCEED TO CHECKOUT</a>
    </div><!-- End .summary -->

    <a href="category.html" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>
</aside><!-- End .col-lg-3 -->