<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact us</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
    <div class="container">
        <div class="page-header page-header-big text-center" style="background-image: url('assets/images/contact-header-bg.jpg')">
            <h1 class="page-title text-white">Contact us<span class="text-white">keep in touch with us</span></h1>
        </div><!-- End .page-header -->
    </div><!-- End .container -->

    <div class="page-content pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-2 mb-lg-0">
                    <h2 class="title mb-1">Contact Information</h2><!-- End .title mb-2 -->
                    <p class="mb-3">For any inquiries or support, feel free to reach out to us:</p>
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="contact-info">
                                <h3>The Office</h3>

                                <ul class="contact-list">
                                    <li>
                                        <i class="icon-map-marker"></i>
                                        153 Main Street Walpole, Massachusetts
                                    </li>
                                    <li>
                                        <i class="icon-phone"></i>
                                        <a href="tel:+1 (339) 228-8991">+1 (339) 228-8991</a>
                                    </li>
                                    <li>
                                        <i class="icon-envelope"></i>
                                        <a href="mailto:info@niceclickllc.com">info@niceclickllc.com</a>
                                    </li>
                                </ul><!-- End .contact-list -->
                            </div><!-- End .contact-info -->
                        </div><!-- End .col-sm-7 -->

                        <div class="col-sm-5">
                            <div class="contact-info">
                                <h3>The Office</h3>

                                <ul class="contact-list">
                                    <li>
                                        <i class="icon-clock-o"></i>
                                        <span class="text-dark">Monday-Saturday</span> <br>11am-7pm ET
                                    </li>
                                    <li>
                                        <i class="icon-calendar"></i>
                                        <span class="text-dark">Sunday</span> <br>11am-6pm ET
                                    </li>
                                </ul><!-- End .contact-list -->
                            </div><!-- End .contact-info -->
                        </div><!-- End .col-sm-5 -->
                    </div><!-- End .row -->
                </div><!-- End .col-lg-6 -->
                <div class="col-lg-6">
                    <h2 class="title mb-1">Got Any Questions?</h2><!-- End .title mb-2 -->
                    <p class="mb-2">Use the form below to get in touch with the sales team</p>

                    <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
                        <div class="row">
                          <div class="col-sm-6">
                            <input type="text" class="form-control" name="name" placeholder="Name *" [(ngModel)]="contact.name" required>
                          </div>
                          <div class="col-sm-6">
                            <input type="email" class="form-control" name="email" placeholder="Email *" [(ngModel)]="contact.email" required>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <input type="tel" class="form-control" name="phone" placeholder="Phone" [(ngModel)]="contact.phone">
                          </div>
                          <div class="col-sm-6">
                            <input type="text" class="form-control" name="subject" placeholder="Subject" [(ngModel)]="contact.subject">
                          </div>
                        </div>
                        <textarea class="form-control" name="message" placeholder="Message *" [(ngModel)]="contact.message" required></textarea>
                        <button type="submit" class="btn btn-outline-primary-2" [disabled]="contactForm.invalid">Submit</button>
                      </form>
                </div><!-- End .col-lg-6 -->
            </div><!-- End .row -->

            <hr class="mt-4 mb-5">
        </div><!-- End .container -->
        <div id="map" >
            <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2957.2006708944054!2d-71.23183202331556!3d42.16738897121155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e47e660b969acb%3A0x8082a6b3c9072476!2s153%20Main%20St%2C%20Walpole%2C%20MA%2002081%2C%20USA!5e0!3m2!1sen!2snp!4v1726984435677!5m2!1sen!2snp" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
            height="500" width="100%" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <div class="map-inside">
            <i class="icon_pin"></i>
            <div class="inside-widget">
                <h4>Massachusetts</h4>
                <ul>
                    <li>Phone: +1 (339) 228-8991</li>
                    <li>Add: 153 Main Street Walpole, Massachusetts</li>
                </ul>
            </div>
        </div>

        </div><!-- End #map -->
    </div><!-- End .page-content -->
</main><!-- End .main -->